@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Pretendard', sans-serif;
}
/* Font */
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Pretendard-Medium') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-style: bold;
  font-weight: 700; /* bold */
  font-display: swap;
  src: url('/fonts/Pretendard-Bold.woff2') format('woff2');
}
